@import url('https://fonts.googleapis.com/css?family=Rock+Salt|VT323');

body{

  background: -webkit-linear-gradient(#A4BFAA,#FFD6CA)
  
}
h1 {
    font-family: 'Rock Salt', cursive !important;
    font-size: 3em;
    font-weight: bold !important;
    text-align: center;
    background: -webkit-linear-gradient(top, #E5A46A, grey);
    margin: 0;
    margin-bottom: 50px !important;
    padding: 20px 10px;
}
h2 {
    font-weight: bold !important;
    font-size: 3em;
    margin-bottom: 20px;
}
.contenedor {
    font-family: 'VT323', monospace !important;
    display: block;
    border: 4px solid black;
    max-width: 500px;
    margin: 0 auto !important;
    text-align: center;
    background: #FF7163;
    padding: 40px;
    outline: 4px dotted black;
    outline-offset: 10px;
}
.introduction {
    font-size: 1.5em !important;
    line-height: 25px;
    margin-bottom: 20px;
}
h3 {
    font-weight: bold !important;
    font-size: 2em;
    margin-bottom: 30px;
}
button {
    width: 100px;
    margin-bottom: 30px;
}
.question, #score {
    font-size: 1.5em;
}
.inputs {
    text-align: left;
    font-size: 0.8em;
}
label {
    margin-left: 10px;
}
input[type='radio'] {
    margin-left: 60px;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #4F8ABF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.image {
    max-width: 80px;
    margin-top: 40px;
}
.correct, .wrong, .result {
    display: none;
}
p .message {
    font-size: 0.5em;
    margin-top: 20px;
    display: none;
}
@media(max-width: 475px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.3em;
        margin-bottom: 15px;
    }
    .introduction {
        font-size: 1em;
        text-align: center;
        line-height: 12px;
    }
    button {
        width: 60px;
        margin-bottom: 15px;
    }
    .redact {
        font-size: .7em;
        line-height: 12px;
    }
    .inputs {
        font-size: .6em;
        width: 100px;
    }
    input[type='radio'] {
        margin-left: 25px;
    }
    p .message {
        font-size: .5em;
    }
    .image {
        max-width: 50px;
        margin-top: 30px;
    }
    .btn-group-lg>.btn, .btn-lg{

        padding: 0.9em 0.9em;
        font-size: 0.9rem;
        width: 80px;
    }
}  